Repository yumazak/raycast-kintone: changes, and which lefthook commands are due for each by the changed paths.
All: knip, cspell

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    knip:
      glob: "*.{ts,tsx,js,jsx,json}"
      run: pnpm knip
    cspell:
      glob: "**/*"
      run: pnpm cspell

fix: 🐛 cspell 修正
  lefthook.yml
Due: none

fix: 🐛 package-lock.json を git に追加
  .gitignore
  package-lock.json
Due: knip

chore: 🤖 pnpm -> npm へ移行
  .github/workflows/ci.yml
  .gitignore
  README.md
  lefthook.yml
  package-lock.json
  pnpm-lock.yaml
Due: knip, cspell

docs: ✏️ 簡素化
  README.md
Due: none

chore: 🤖 .github を整理
  .github/pull_request_template.md
  .github/workflows/create-pr-develop-to-main.yml
Due: cspell
